body {
  background-color:red;
  color: #2F4F4F;
  font-family: Times, Cambria, Garamond, serif;
  margin:10% 20%;
}
.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #2F4F4F;
  border-bottom: 1px solid #2F4F4F;
  background-color: rgba(0,0,0,.1)
}
.header {
  background-color: #D3D3D3;
  text-align: center;

}
