body{
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  font-family: Times, serif;
  background-image: url("https://www.bypeople.com/wp-content/uploads/2014/05/light-live-background-css.jpg");
  background-repeat: repeat
  @media (max-width: 400px){
    width: 100%;
  }
}
#aside{
  background-color: #88b2aa;

  color: white;
}
.info{
  margin-left: 50px;

}
.aside-title1{
  margin: 40px 0 10px 50px;
}
.aside-title{
  margin: 0 0 10px 50px;
}
span{
  color: #808077;
}
#main{
  margin: 0 50px;
}
.full-name{
  color: #88b2aa;

}
.soften-header{
  color: #808077;

}
.company-name{
  color: #88b2aa;
  margin-bottom: 0; /* Reduces margin below line breaks */
}
a, a :hover, a :visited{
  text-decoration: none;
  color: #fff;
}
