body{
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  font-family: Times, serif;
  @media (max-width: 400px){
    width: 100%;
  }
}
#aside{
  background-color: #293e49;

  color: white;
}
.info{
  margin-left: 50px;

}
.aside-title1{
  margin: 40px 0 10px 50px;
}
.aside-title{
  margin: 0 0 10px 50px;
}
span{
  color: #a9b1b6;
}
#main{
  margin: 0 50px;
}
.full-name{
  color: #293e49;

}
.company-name{
  color: #293e49;
}
a, a :hover, a :visited{
  text-decoration: none;
  color: #fff;
}
